.message {
  display: flex;
  flex-direction: column;
  margin: 34px 24px 0px 18px;
}

.messageTop {
  display: flex;
}

.messageImg {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.messageText {
  position: relative;
  padding: 14px 38px 14px 21px;
  height: 46px;
  background: #e8f1ff;
  font-family: "Roboto";

  font-weight: 400;
  font-size: 15px;
  border-radius: 0px 15px 15px 15px;
}

.messageBottom {
  font-size: 12px;
  margin-top: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;

  letter-spacing: -0.01em;

  color: rgba(0, 0, 0, 0.3);
}

.message.own {
  align-items: flex-end;
}
.message.own img {
  display: none;
}

.message.own .messageText {
  color: rgba(0, 0, 0, 0.8);
  background: #f7f7f7;
  border-radius: 15px 0px 15px 15px;
}
.message.own .messageBottom {
  margin-right: 10px;
}
