* {
  margin: 0;
  padding: 0;
}
.messenger {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.chatbody {
  max-height: 500px;
  overflow-y: scroll;
}
.chatbody::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
.peopleNotFound {
  height: 30px;
  font-size: 15px;
  margin: 15px 0px 15px 15px;
}
.peopleBorder {
  height: 30px;
  font-size: 20px;
  background-color: #f3f3f3;
  text-align: center;
  padding: 5px;
  margin: 0;
}
.conversationBorder {
  height: 30px;
  font-size: 20px;
  background-color: #f3f3f3;
  text-align: center;
  padding: 5px;
  margin: 0;
}
.chatMenuWrapper {
  display: flex;
  flex-direction: row;
  margin: 25px 34px 0px 33px;
  padding-bottom: 42px;
}
.conversationContainer {
  width: 387px;
  min-width: 200px;
  border: 1px solid #e7e7e7;
  padding: 30px;
  border-radius: 15px;
  overflow-y: scroll;
  height: 780px;
  margin-right: 21px;
}
.conversationContainer::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
.search {
  position: relative;
}
.search > input {
  width: 100%;
  height: 51px;
  box-sizing: border-box;
  border: 1px solid #d8d8d8;
  border-radius: 10px;
  outline: none;
  padding: 0px 20px 0px 17px;
}
.search > input::placeholder {
  color: #c9c9c9;
}
.searchicon {
  right: 6%;
  bottom: 32%;
  width: 15.5px;
  height: 15.5px;
  position: absolute;
}

.Messages {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 40px;
  margin-top: 40px;
}
.peopleContainer {
  margin-top: 37px;
}
.Messages > p {
  font-family: "Roboto";
  font-weight: 600;
  font-size: 36px;
  color: #000000;
  margin-right: 16px;
}
.Messages > img {
  width: 38px;
  height: 38px;
}

.chatMenuInput {
  width: 90%;
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid gray;
}

.chatBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  border-radius: 15px;
  padding: 0px 24px;
  border: 1px solid #e7e7e7;
}

.chatBoxWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.chatBoxTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 93px;

  border-bottom: 1px solid #ececec;
}
.chatTopLeft {
  display: flex;
  margin: 24px 0px 23px 36px;
}
.chatTopRight {
  margin: 30px 40px 34px 0px;
}
.conversationImg {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  object-fit: cover;
}
.conversationDetails .conversationName {
  font-weight: 500;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 16px;
  color: #000000;
}
.conversationDetails .conversationTyping {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.01em;

  color: #2ad300;
}

.chatBoxBottom {
  position: relative;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chatBoxBottom > input::placeholder {
  font-family: "Roboto";

  font-weight: 400;
  font-size: 16px;

  color: #c6c6c6;
}
.chatBoxBottomIcons {
  cursor: pointer;
  position: absolute;
  right: 3%;
  width: 200px;
  padding-right: 17px;
  display: flex;
  justify-content: space-evenly;
}

.chatMessageInput {
  width: 100%;
  box-sizing: border-box;
  height: 64px;
  margin: 34px;
  outline: none;
  padding-left: 30px;
  padding-right: 30px;
  background: #f4f4f4;
  border: 1px solid #d8d8d8;
  border-radius: 10px;
}

.chatSubmitButton {
  width: 70px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: teal;
  color: white;
}
.icons .chatOnline {
  flex: 3;
}

.openChat > p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: rgb(224, 220, 220);
  cursor: default;
}

@media screen and (max-width: 768px) {
  .chatMenu {
    flex: 1;
  }

  .chatMenuInput {
    display: none;
  }

  .chatBox {
    flex: 10;
  }

  .chatOnline {
    flex: 1px;
  }
}
